[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cython = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
